.middle{
    /* background-color: coral; */
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.middle h2{
    font-weight: bold;
    text-align: center;
    color: #EC5924;
    letter-spacing: 2px;
}

.middle-container{
 /* background-color: cyan; */
 display: flex;
 height: 500px;
 margin: 50px auto;
 justify-content: space-between;
}

.middle-container .panel{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 32%;
    cursor: pointer;
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;

}

.middle-container .panel h3{
    color: #EC5924;
    text-transform: capitalize;
}

.middle-container .panel .heading{
    position: absolute;
    bottom: 20px;
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.panel .middle-desc{
    background-color: white;
    padding: 15px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(101%);
    transition: .2s ease-in;
  
}

.middle-container .panel:hover .middle-desc{
    transform: translateY(0);
   
}

.panel .middle-desc h3{
    text-align: center;

}