@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

/* Available fon family */
/* font-family: 'Abril Fatface', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --primary-color: #ec5800;
  --bg-color: #f8f9fa;
  --bg-main-color: #fefefe;
  --footer-color: #e9dcdc;
}

* {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.active {
  color: var(--primary-color) !important;
  border-bottom: 9px double var(--primary-color);
}

.navbar-toggler:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0 var(--primary-color) !important ;
}

[title] {
  cursor: pointer;
}

.nav__link {
  color: var(--primary-color);
  margin-left: 2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}

.nav__link:hover {
  color: var(--primary-color) !important;
}

.link__title:hover {
  color: var(--primary-color);
}

.nav__linkRegister {
  background-color: var(--primary-color);
  padding: 0.4rem 0.35rem;
  border-radius: 6px;
}

.link__titleRegister {
  background-color: var(--primary-color);
  color: black;
}

.link__titleRegister:hover {
  background-color: var(--primary-color);
  color: #d1caca;
}

/* /Navbar */

/* Footer */
footer {
  padding: 50px 37px;
  background-color: var(--footer-color);
  margin-top: 4rem;
  border-radius: 11px;
}

.footer h2 {
  font-family: "Abril Fatface", cursive;
}

.greatVibes {
  font-family: "Great Vibes", cursive;
}

.footer__Links {
  display: flex;
  flex-direction: column;
}

.footer__Link {
  margin: 10px 0px;
  color: black;
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
}

.footer__Link:hover {
  color: var(--primary-color);
}

.footer__Address {
  margin: 20px 0px;
}

.contact p {
  font-size: 20px;
  font-weight: 400;
}

.contact a {
  text-decoration: none;
  color: var(--primary-color);
}

.input__email {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 7px 4px;
  border-radius: 0.5rem;
}

[type="email"] {
  border: none;
  max-width: 80%;
}

[type="email"]:focus {
  outline: none;
}

.footer__Btn {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
}

.footer__Btn button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 27px;
  border-radius: 0.6rem;
  font-size: 17px;
}

.footer__Btn button:hover {
  transform: scale(1.1);
}

.bottom__Footer {
  border-bottom: 15px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 3rem 0;
}

.bottom__Footer :nth-child(1) {
  margin-left: 2.9rem;
}

.bottom__Footer :nth-child(2) {
  margin-right: 2.9rem;
}
/* /Footer */

/* Register Modal */
.form_error {
  font-size: 14px;
  color: red;
}

.modal-footer {
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: #000000 !important;
}

.btn-primary:hover {
  transform: scale(1.009);
}

.btn-close:focus {
  border: 1px solid var(--primary-color) !important;
  box-shadow: none !important;
}

.error_container {
  height: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: none;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif !important;
}

input:focus {
  outline: none;
}

div.col-lg-6 {
  padding: 0 !important;
}

.margin__end {
  margin-right: 20px;
}

.form-check-input {
  width: 30px !important;
  height: 30px !important;
  background-color: #d9d9d9 !important;
}

div.col-lg-1,
.col-lg-11 {
  padding: 0px !important;
  display: flex;
  align-items: center;
  margin: 0px !important;
}

.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.submit__btn button {
  width: 100% !important;
  border: none;
  padding: 9px;
}

::placeholder {
  font-weight: 700;
  letter-spacing: 2px;
}

.registerLogin {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.registerLogin:hover {
  color: #ec560096;
}

.abril {
  font-family: "Abril Fatface", cursive;
}
/* /Register Modal */

@media (max-width: 768px) {
  .nav__link {
    margin-left: 1rem;
  }
  .nav__linkRegister {
    margin: 15px 0;
  }
  .margin__end {
    display: none;
  }
}
